@media (max-width: 1280px) {
    body * {
        display: none;
    }

    .top-black,
 
    .specific-element {
        display: block; 
    }
}




.top-black{
    background-color: black;
    height: 850px;
}
.middle-white{
    background-color: white;
    height: 650px;
}

.bottom-grey{
    background-color: rgba(246,246,246,255);
    height: 400px;
}


.custom-bg-dark {
    background-color: black; 
}

.navbar-nav li a{
  color: white;
  }

.dropdown-item {
    color: grey !important;
    margin-bottom: 0.5rem;
}

.dropdown-menu .dropdown-item:focus, 
.dropdown-menu {
    background-color: transparent; 
}

.left .fs-1 {
    color: white;
}

.left.col .fs-1 {
    margin-top: 235px;
    margin-left: 50px;
}

.top-black .left .fs-1{

    font-size: 3em !important;
    
    }
p{
    color: white ;
}

.right2.col p{
    color: black; 
    margin-left: -200px;
}

.middle-white .left.col p{
    color: black;
}

.right2.col p.title {
    margin-top:200px;
    margin-left: -200px;
}

.left.col p {
    margin-left: 60px;
}

.input-group {
    margin-left: 60px;
}

.left.col button {
    margin-left: 60px;
}



.custom-input-width {
    width: 300px; 
}

.custom-input-width2 {
    width: 344px; 
}

.icon {
    margin-left: 20px;
}
.container.inputform {
    background-color: white;
}

.btn-small-text {
    font-size: 15px !important; 
}

.buttonmargin{
    margin-top: 30px;
}

.image-size {
    max-height: 700px; 
    margin-top: 90px;
    margin-left: -160px;
    border-radius: 10px;
}

.image-size2 {
    max-height: 550px; 
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 10px;
}

.image-size3 {
    max-height: 550px; 
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 10px;
}


.right2.col button {
    margin-left: -200px;
    margin-bottom: 20px;
}

p a {
    color: black;
    text-underline-offset: 8px;
    text-decoration-color: gray;   
}

span a{
    color: black;
    text-underline-offset: 8px;
    text-decoration-color: gray; 
    margin-right: 50px;
}

.bottom-grey {
    position: relative; 
}

.col {
    position: relative; 
}

.whitecontainer {
    display: flex;
    background-color: white;
    border: none; 
    height: 350%;
    position: absolute;
    top: 230%; 
    width: 80%; 
    margin-left: 30px;
}

.col h1 strong {
    position: relative;
    top: 45px;
    margin-left: 30px;
  }
  
.whitecontainer h5  {
    position: relative;
    top: 70px;
    margin-left: 20px;
  }
  


